openapi: 3.0.2
info:
  description: HostAfrica API
  title: HostAfricaApi
  version: 2026-01-01
servers:
- description: HostAfrica API
  url: https://api.hostafrica.com
security:
- BearerAuth: []
tags:
- description: Create and restore on-demand backups of your VPS instances and configure
    automated backup schedules to protect your data.
  name: Backups
- description: Open an in-browser noVNC console session to your VPS for direct terminal
    access when SSH is unavailable.
  name: Console Access
- description: Manage reverse DNS (rDNS) records that map IP addresses assigned to
    your services back to hostnames.
  name: DNS
- description: "Define and manage inbound and outbound firewall rules for your VPS\
    \ instances, including rule ordering and priority management."
  name: Firewall
- description: "Configure notification triggers on resource metrics such as CPU, memory,\
    \ and disk usage to receive alerts when thresholds are breached."
  name: Monitoring
- description: "Control the power state of your VPS instances and schedule automated\
    \ power tasks. Start, stop, reboot, or gracefully shut down a VPS, and create\
    \ or manage recurring power schedules."
  name: Power Management
- description: "Manage OS-level credentials and SSH key access for your VPS instances,\
    \ including password changes and SSH key rotation."
  name: Security
- description: "Browse the service catalogue, validate pricing, place orders, and\
    \ manage existing subscriptions including cancellation and payment retries."
  name: Service Management
- description: "Capture point-in-time snapshots of a VPS disk, update snapshot metadata,\
    \ roll back to a previous snapshot, and delete snapshots you no longer need."
  name: Snapshots
- description: Manage account-level user settings such as updating the password for
    the authenticated user.
  name: User Management
- description: "Manage your VPS instances — list services, retrieve configuration\
    \ details, update settings, mount ISO images, and reinstall the operating system."
  name: VPS Management
paths:
  /dns/create-rdns-record:
    post:
      description: "Creates (or upserts) a PTR record for the authenticated client.\
        \ If the client already owns a PTR for the same (serverid, ip) it is updated\
        \ in place; if another client owns it a 409 is returned."
      operationId: CreateRdnsRecord
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRdnsRecordRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateRdnsRecordResponseContent"
          description: CreateRdnsRecord 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidStateErrorResponseContent"
          description: InvalidStateError 409 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - DNS
  /dns/delete-rdns-record:
    post:
      description: Deletes a PTR (rDNS) record owned by the authenticated client
      operationId: DeleteRdnsRecord
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteRdnsRecordRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteRdnsRecordResponseContent"
          description: DeleteRdnsRecord 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponseContent"
          description: ValidationError 422 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - DNS
  /dns/list-rdns-records:
    post:
      description: Lists all rDNS (PTR) records and available services for the authenticated
        client
      operationId: ListRdnsRecords
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRdnsRecordsResponseContent"
          description: ListRdnsRecords 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - DNS
  /user/change-password:
    post:
      description: Changes the authenticated user's password. All active sessions
        will be revoked and the user must login again.
      operationId: UserChangePassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserChangePasswordRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserChangePasswordResponseContent"
          description: UserChangePassword 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponseContent"
          description: ValidationError 422 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - User Management
  /vps/cancel:
    post:
      description: Cancels a VPS service through WHMCS. This action is irreversible
      operationId: CancelVps
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelVpsRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelVpsResponseContent"
          description: CancelVps 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidStateErrorResponseContent"
          description: InvalidStateError 409 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - Service Management
  /vps/change-password:
    post:
      description: Change the root password for a VPS service
      operationId: ChangePassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangePasswordRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangePasswordResponseContent"
          description: ChangePassword 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponseContent"
          description: ValidationError 422 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - Security
  /vps/create-backup:
    post:
      description: Creates a new backup for a VPS service
      operationId: CreateBackup
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBackupRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateBackupResponseContent"
          description: CreateBackup 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponseContent"
          description: ValidationError 422 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - Backups
  /vps/create-backup-schedule:
    post:
      description: Creates a new backup schedule for a VPS service
      operationId: CreateBackupSchedule
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBackupScheduleRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateBackupScheduleResponseContent"
          description: CreateBackupSchedule 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponseContent"
          description: ValidationError 422 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - Backups
  /vps/create-firewall-rule:
    post:
      description: Creates a new firewall rule for a VPS service
      operationId: CreateFirewallRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFirewallRuleRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateFirewallRuleResponseContent"
          description: CreateFirewallRule 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponseContent"
          description: ValidationError 422 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - Firewall
  /vps/create-notification:
    post:
      description: "Creates a new notification for a VPS service with customizable\
        \ thresholds for CPU, memory, network, and disk metrics"
      operationId: CreateNotification
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateNotificationRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateNotificationResponseContent"
          description: CreateNotification 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponseContent"
          description: ValidationError 422 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - Monitoring
  /vps/create-order:
    post:
      description: Creates an order through checkout. Returns payment status; on failure
        also includes payment_error with code and message.
      operationId: CreateOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrderRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateOrderResponseContent"
          description: CreateOrder 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponseContent"
          description: ValidationError 422 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - Service Management
  /vps/create-power-task:
    post:
      description: Creates a new power task (scheduled start/stop/restart operation)
        for a VPS service
      operationId: CreatePowerTask
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePowerTaskRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatePowerTaskResponseContent"
          description: CreatePowerTask 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponseContent"
          description: ValidationError 422 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - Power Management
  /vps/create-snapshot:
    post:
      description: Creates a new snapshot for a VPS service
      operationId: CreateSnapshot
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSnapshotRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSnapshotResponseContent"
          description: CreateSnapshot 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponseContent"
          description: ValidationError 422 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - Snapshots
  /vps/delete-backup:
    post:
      description: Deletes a specific backup from a VPS service
      operationId: DeleteBackup
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteBackupRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteBackupResponseContent"
          description: DeleteBackup 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponseContent"
          description: ValidationError 422 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - Backups
  /vps/delete-backup-schedule:
    post:
      description: Deletes a backup schedule from a VPS service
      operationId: DeleteBackupSchedule
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteBackupScheduleRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteBackupScheduleResponseContent"
          description: DeleteBackupSchedule 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponseContent"
          description: ValidationError 422 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - Backups
  /vps/delete-firewall-rule:
    post:
      description: Deletes a firewall rule from a VPS service
      operationId: DeleteFirewallRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteFirewallRuleRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteFirewallRuleResponseContent"
          description: DeleteFirewallRule 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponseContent"
          description: ValidationError 422 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - Firewall
  /vps/delete-notification:
    post:
      description: Deletes a notification from a VPS service
      operationId: DeleteNotification
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteNotificationRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteNotificationResponseContent"
          description: DeleteNotification 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponseContent"
          description: ValidationError 422 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - Monitoring
  /vps/delete-power-task:
    post:
      description: Deletes a power task from a VPS service
      operationId: DeletePowerTask
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeletePowerTaskRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletePowerTaskResponseContent"
          description: DeletePowerTask 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponseContent"
          description: ValidationError 422 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - Power Management
  /vps/delete-snapshot:
    post:
      description: Deletes a specific snapshot from a VPS service
      operationId: DeleteSnapshot
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteSnapshotRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteSnapshotResponseContent"
          description: DeleteSnapshot 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponseContent"
          description: ValidationError 422 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - Snapshots
  /vps/edit-backup-schedule:
    post:
      description: Edits an existing backup schedule for a VPS service
      operationId: EditBackupSchedule
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EditBackupScheduleRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EditBackupScheduleResponseContent"
          description: EditBackupSchedule 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponseContent"
          description: ValidationError 422 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - Backups
  /vps/get-catalogue:
    post:
      description: "Retrieves the product catalogue, optionally filtered by group\
        \ or product"
      operationId: GetCatalogue
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetCatalogueRequestContent"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCatalogueResponseContent"
          description: GetCatalogue 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - Service Management
  /vps/get-config:
    post:
      description: "Retrieves VPS configuration settings including name, hostname,\
        \ auto-start, boot order, and CD-ROM"
      operationId: GetVpsConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetVpsConfigRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetVpsConfigResponseContent"
          description: GetVpsConfig 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - VPS Management
  /vps/get-details:
    post:
      description: "Gets detailed information about a VPS service including configuration,\
        \ network settings, and statistics"
      operationId: GetVpsDetails
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetVpsDetailsRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetVpsDetailsResponseContent"
          description: GetVpsDetails 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - VPS Management
  /vps/get-private-ssh-keys:
    post:
      description: Retrieves the private SSH key configured for a VPS service
      operationId: GetPrivateSshKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetPrivateSshKeyRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPrivateSshKeyResponseContent"
          description: GetPrivateSshKey 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidStateErrorResponseContent"
          description: InvalidStateError 409 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - Security
  /vps/get-public-ssh-keys:
    post:
      description: Retrieves the public SSH key configured for a VPS service
      operationId: GetPublicSshKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetPublicSshKeyRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPublicSshKeyResponseContent"
          description: GetPublicSshKey 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidStateErrorResponseContent"
          description: InvalidStateError 409 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - Security
  /vps/list-backup-schedules:
    post:
      description: Retrieves the list of backup schedules for a VPS service
      operationId: ListBackupSchedules
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListBackupSchedulesRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBackupSchedulesResponseContent"
          description: ListBackupSchedules 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - Backups
  /vps/list-backups:
    post:
      description: Retrieves the list of backups for a VPS service including quota
        information and backup configuration options
      operationId: ListBackups
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListBackupsRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBackupsResponseContent"
          description: ListBackups 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - Backups
  /vps/list-firewall-rules:
    post:
      description: Retrieves the list of firewall rules and available options for
        a VPS service
      operationId: ListFirewallRules
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListFirewallRulesRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListFirewallRulesResponseContent"
          description: ListFirewallRules 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - Firewall
  /vps/list-isos:
    post:
      description: Retrieves the list of available ISO images for a VPS service
      operationId: ListIsos
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListIsosRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListIsosResponseContent"
          description: ListIsos 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - VPS Management
  /vps/list-notifications:
    post:
      description: Retrieves the list of notifications for a VPS service along with
        dialog rules for creating notifications
      operationId: ListNotifications
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListNotificationsRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListNotificationsResponseContent"
          description: ListNotifications 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - Monitoring
  /vps/list-orders:
    post:
      description: "Lists all orders for the authenticated user, including payment\
        \ and invoice status"
      operationId: ListOrders
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListOrdersResponseContent"
          description: ListOrders 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - Service Management
  /vps/list-power-tasks:
    post:
      description: Retrieves the list of power tasks (scheduled start/stop/restart
        operations) for a VPS service
      operationId: ListPowerTasks
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListPowerTasksRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPowerTasksResponseContent"
          description: ListPowerTasks 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - Power Management
  /vps/list-reinstall-images:
    post:
      description: "[Under development] Retrieves the list of available OS images\
        \ for VPS reinstallation"
      operationId: ListReinstallOs
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListReinstallOsRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListReinstallOsResponseContent"
          description: ListReinstallOs 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
          description: InternalServiceError 500 response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponseContent"
          description: ServiceUnavailableError 503 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
      tags:
      - VPS Management
  /vps/list-snapshots:
    post:
      description: Retrieves the list of snapshots for a VPS service
      operationId: ListSnapshots
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListSnapshotsRequestContent"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSnapshotsResponseContent"
          description: ListSnapshots 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseContent"
          description: BadRequestError 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseContent"
          description: UnauthorizedError 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenErrorResponseContent"
          description: ForbiddenError 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponseContent"
          description: ResourceNotFoundError 404 response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsErrorResponseContent"
          description: TooManyRequestsError 429 response
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              explode: false
              schema:
                description: Number of seconds to wait before retrying
                format: int32
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServiceErrorResponseContent"
[...]
